Repository Lukas-Batema/All4Seasons, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source, yml-test, yml-source

Create .gitignore
  .gitignore
Labels: documentation

Update .gitignore
  .gitignore
Labels: documentation

Update .gitignore (#9)
  .gitignore
Labels: documentation

Update plugin.yml
  plugin/test/plugin.yml
Labels: yml-test

Update plugin.yml (#10)
  plugin/test/plugin.yml
Labels: yml-test

Update main.java
  src/java/test/lukasbatema/mcje/plugin/main.java
Labels: test

Update main.java (#11)
  src/java/test/lukasbatema/mcje/plugin/main.java
Labels: test

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Development (#12)
  README.md
Labels: documentation

Create .gitattributes
  .gitattributes
Labels: documentation

Create .gitattributes (#13)
  .gitattributes
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update LICENSE
  LICENSE
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

Update and rename main.java to all4Seasons.java
  src/java/test/lukasbatema/mcje/plugin/all4Seasons.java
Labels: test

Create SECURITY.md
  SECURITY.md
Labels: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: documentation

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: documentation

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: documentation

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: documentation

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: documentation

Create SECURITY.md (#14)
  SECURITY.md
Labels: none

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation

Update .gitattributes
  .gitattributes
Labels: documentation

.github/labeler.yml:

# Add 'documentation' label to any documentation file changes
documentation:
  - .gitignore
  - .gitattributes
  - README.md
  - LICENSE
  - .github/*/*.*
  - .github/*/*/*.*
  
# Add 'test' label to any change to src/java/test/**/* files within the source dir
test:
  - src/java/test/lukasbatema/mcje/plugin/*.java

# Add 'source' label to any change to src files within the source dir
source:
  - src/java/deployed/lukasbatema/mcje/plugin/*.java

# Add 'yml-test' label to any change to /plugin/test/**/* files within the source dir
yml-test:
  - plugin/test/*.yml

# Add 'yml-source' label to any change to /plugin/test/**/* files within the source dir
yml-source:
  - plugin/delpoyed/*.yml
